<div class="container-fluid">
<div class="row" style="">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center align-self-start">
    <h1 class="heading">NBA Players' Best Game</h1>
   <div class="search">
     <form autocomplete="off" action="/action_page.php">
      <input type="text" class="searchTerm" placeholder="" id="playerInput">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     </form>
   </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row" style="padding: 20px 40px;">

</div>
</div>

<p id="notice"><%= notice %></p>
